<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">

                <!-- Atendimentos Acumulados -->
                <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between">
                        <div class="text-sm font-medium tracking-tight leading-6 truncate">Atendimentos Acumulados</div>
                        <div class="ml-2 -mt-2 -mr-3">

                        </div>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">234</div>
                        <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Atendimentos</div>
                        <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                            <div class="text-md font-medium truncate">Tempo espera méd:</div>
                            <div class="ml-1.5 text-lg font-semibold">3:45</div>
                        </div>
                    </div>
                </div>
                <!-- Atendimentos Chat -->
                <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between">
                        <div class="text-sm font-medium tracking-tight leading-6 truncate">Humano: via chat</div>

                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500">178</div>
                        <div class="text-lg font-medium text-red-600 dark:text-red-500">Atendimentos</div>
                        <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                            <div class="text-md font-medium truncate">Abertos:</div>
                            <div class="ml-1.5 text-lg font-semibold">5</div>
                        </div>
                    </div>
                </div>
                <!-- Atendimentos Chamadas -->
                <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between">
                        <div class="text-sm font-medium tracking-tight leading-6 truncate">Humano: chamada de voz</div>
                        <!--div class="ml-2 -mt-2 -mr-3">
                                        <button
                                            mat-icon-button
                                            [matMenuTriggerFor]="issuesMenu">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                        </button>
                                        <mat-menu #issuesMenu="matMenu">
                                            <button mat-menu-item>Yesterday</button>
                                            <button mat-menu-item>2 days ago</button>
                                            <button mat-menu-item>3 days ago</button>
                                        </mat-menu>
                                    </div-->
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-amber-500">37</div>
                        <div class="text-lg font-medium text-amber-600 dark:text-amber-500">Atendimentos</div>
                        <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                            <div class="text-md font-medium truncate">Abertos:</div>
                            <div class="ml-1.5 text-lg font-semibold">2</div>
                        </div>
                    </div>
                </div>
                <!-- Features -->
                <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between">
                        <div class="text-sm font-medium tracking-tight leading-6 truncate">Chatbot: em curso</div>
                        <!--div class="ml-2 -mt-2 -mr-3">
                                        <button
                                            mat-icon-button
                                            [matMenuTriggerFor]="featuresMenu">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                        </button>
                                        <mat-menu #featuresMenu="matMenu">
                                            <button mat-menu-item>Yesterday</button>
                                            <button mat-menu-item>2 days ago</button>
                                            <button mat-menu-item>3 days ago</button>
                                        </mat-menu>
                                    </div-->
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-green-500">19</div>
                        <div class="text-sm font-medium text-green-600 dark:text-green-500">Triagem</div>
                        <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                            <div class="text-md font-medium truncate">Broker:</div>
                            <div class="ml-1.5 text-lg font-semibold">ASC</div>
                        </div>
                    </div>
                </div>

                <!-- Task distribution -->
                <div
                    class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex flex-col sm:flex-row items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Atendimentos por
                            Alto/Moderado Risco</div>
                        <div class="mt-3 sm:mt-0 sm:ml-2">
                            <!--mat-button-toggle-group
                                            value="this-week"
                                            #taskDistributionWeekSelector="matButtonToggleGroup">
                                            <mat-button-toggle value="last-week">Last Week</mat-button-toggle>
                                            <mat-button-toggle value="this-week">This Week</mat-button-toggle>
                                        </mat-button-toggle-group-->
                        </div>
                    </div>
                    <div class="flex flex-col flex-auto mt-6">

                    </div>
                    <div class="grid grid-cols-2 border-t divide-x -m-6 mt-4 bg-gray-50 dark:bg-transparent">
                        <div class="flex flex-col items-center justify-center p-6 sm:p-8  text-red-500">
                            <div class="text-5xl font-semibold leading-none tracking-tighter">
                                102
                            </div>
                            <div class="mt-1 text-center text-secondary">Alto Risco</div>
                        </div>
                        <div class="flex flex-col items-center justify-center p-6 sm:p-8  text-orange-500">
                            <div class="text-5xl font-semibold leading-none tracking-tighter">
                                42
                            </div>
                            <div class="mt-1 text-center text-secondary">Risco Moderado</div>
                        </div>
                    </div>
                </div>
                <!-- Schedule -->
                <div
                    class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex flex-col sm:flex-row items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Atendimentos por comorbidades
                        </div>

                    </div>
                    <div class="flex flex-col mt-2 divide-y">
                        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                            [xaxis]="chartOptions.xaxis" [title]="chartOptions.title"></apx-chart>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>